<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="partials/partials.html :: head ('Cardio')"></head>

<body>

<header th:replace="partials/partials.html :: navbar"></header>

<h1>Cardio</h1>

<div class="container d-flex justify-content-center mt-5 w-100 flex-wrap">
    <th:block th:each="work: ${workouts}">
        <!--        <a th:href="@{/exercise/{id}(id=${work.id - 1})}">-->
        <ul>
            <span class="mx-5" th:if="${work.typeOfWorkout == 'cardio'}"><a th:href="@{/exercise/{id}(id=${work.id - 1})}"><li th:text="${work.name}"></li></a></span>
        </ul>
        <!--        </a>-->
    </th:block>
</div>


<script th:replace="partials/partials.html :: bootstrap-js"></script>

</body>
</html>