<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="partials/partials.html :: head ('replace')"></head>
<body>

<header th:replace="partials/partials.html :: navbar"></header>

<h1 class="text-center mt-5">Strength</h1>

<div class="container mt-5 w-100">
    <table class="table">
        <tr>
            <th class="col">Workout</th>
            <th class="col">Author</th>
        </tr>
        <th:block th:each="work: ${workouts}">
            <tr>
                <span class="mx-5" th:if="${work.typeOfWorkout == 'strength'}">
                    <td><a th:href="@{/exercise/{id}(id=${work.id - 1})}">
                        <th:block th:text="${work.name}"></th:block>
                    </a></td>
                </span>
                <span class="mx-5" th:if="${work.typeOfWorkout == 'strength'}"><a th:href="@{/exercise/{id}(id=${work.id - 1})}"><td th:text="${work.user.userName}"></td></a></span>

            </tr>
        </th:block>
    </table>
</div>



<script th:replace="partials/partials.html :: bootstrap-js"></script>

</body>
</html>