<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials.html :: head (title)"></head>
<body>
    <nav th:replace="partials/partials.html :: navbar"></nav>

<!--    <h1 th:text="${id}"></h1>-->
<!--    <p th:text="${user}"></p>-->
<!--    <p th:text="${workout}"></p>-->


    <h2 class="text-center mt-5">Workouts Created</h2>

    <div class="container d-flex justify-content-center mt-5">
        <th:block th:each="work: ${workout}">
            <a href="#"><p class="mx-5" th:text="${work.name}" /></a>
        </th:block>
    </div>



<script th:replace="partials/partials.html :: bootstrap-js"></script>
</body>
</html>