<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/partials.html :: head (title)"></head>
<body class="gradient-custom-2">
    <nav th:replace="partials/partials.html :: navbar"></nav>

<!--    <h1 th:text="${id}"></h1>-->
<!--    <p th:text="${user}"></p>-->
<!--    <p th:text="${workout}"></p>-->


    <div class="d-flex justify-content-center mt-5">
        <h2 class="text-center">Welcome</h2>
        <h2 class="mx-2" th:text="${user}"></h2>
    </div>

    <div class="container mt-5">
        <p>Workouts Created</p>
        <th:block th:each="work: ${workout}">
            <ul>
                <a th:href="@{/exercise/{id}(id=${work.id - 1})}"><li class="mx-5" th:text="${work.name}" /></a>
            </ul>
        </th:block>
    </div>



<script th:replace="partials/partials.html :: bootstrap-js"></script>
</body>
</html>