<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Fitness App')"></head>
<body class="gradient-custom-2">

<header th:replace="partials/partials.html :: navbar"></header>

<h1 class="d-flex justify-content-center my-5">Being Fit</h1>

<div class="home-nav-background py-5 text-danger text-uppercase text-center">
    <h2>Welcome to the best fitness site</h2>
    <h3>Here you can find new workouts to build the physique you want</h3>
    <h4>Create your own personal workouts or find one you like</h4>
</div>

<nav class="container my-5">
        <div class="card-deck d-flex justify-content-center">
            <div class="card mx-1">
                <a href="/strength"><img class="card-img-top" src="images/dest.jpg" alt="Card image cap"></a>
            </div>
            <div class="card mx-1">
                <a href="/endurance"><img class="card-img-top" src="images/dumbbelsmall.jpg" alt="Card image cap"></a>
            </div>
            <div class="card mx-1">
                <a href="/weigh-loss"><img class="card-img-top" src="images/lose1.jpg" alt="Card image cap"></a>
            </div>
            <div class="card mx-1">
                <a href="/cardio"><img class="card-img-top" src="images/running1.jpg" alt="Card image cap"></a>
            </div>
        </div>
    </nav>



<section class="container mt-5">
    <h3 class="text-center mt-5">Most Recent</h3>
    <table class="table mt-5">
        <tr>
            <th class="col">Workout</th>
            <th class="col">Type</th>
            <th class="col">Author</th>
        </tr>
        <th:block th:each="work: ${workout}">
            <tr>
                <td><a th:href="@{/exercise/{id}(id=${work.id - 1})}">

                    <th:block th:text="${work.name}"></th:block>
                </a></td>
                <td th:text="${work.typeOfWorkout}"></td>
                <td th:text="${work.user.userName}"></td>
            </tr>
        </th:block>
    </table>
</section>

<nav class="container text-center">
    <ul class="pagination d-flex justify-content-center mt-5">
        <li th:class="${workout.isFirst()}? 'disabled' : ''">
            <span th:if='${workout.isFirst()}' class="mx-2"></span>
            <a th:if='${not workout.isFirst()}' th:href="@{home?pageSize=5&pageNo=0}">
                First
            </a>
        </li>
        <li th:class="${workout.hasPrevious()}? '' : 'disabled'">
            <span th:if='${not workout.hasPrevious()}'>First</span>
            <a
                    th:if='${workout.hasPrevious()}'
                    th:href="'home?pageSize=5&pageNo=' + ${(workout.getNumber() - 1)}"
                    title='Go to previous workout'
                    class="mx-3"
            >
                Back
            </a>
        </li>
        <li th:each="i : ${#numbers.sequence(1, workout.getTotalPages())}">
                <span
                        th:if='${(i - 1) == param.workout}'
                        th:text='${i}'>
                    1
                </span>
            <a
                    th:if='${not ((i - 1) == param.workout)}'
                    th:href="${(i -1)}"
            >
<!--                <span th:text='${i}' class="text-success">1</span>-->
            </a>
        </li>
        <li th:class="${workout.hasNext()} ? '' : 'disabled'">
            <span th:if='${not workout.hasNext()}' class="mx-2">Last</span>
            <a
                    th:if='${workout.hasNext()}'
                    th:href="'home?pageSize=5&pageNo=' + ${(workout.getNumber() + 1)}"
                    title='Go to next workout'
                    class="mx-3"
            >
                Next
            </a>
        </li>
        <li th:class="${workout.isLast()}? 'disabled' : ''">
            <span th:if='${workout.isLast()}'></span>
            <a
                    th:if='${not workout.isLast()}'
                    th:href="'?pageSize=5&pageNo=' + ${(workout.getNumber() + 1)}"
            class="mx-2">
                Last
            </a>
        </li>
    </ul>
</nav>


<script th:replace="partials/partials.html :: bootstrap-js"></script>
</body>
</html>