<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head ('Fitness App')"></head>
<body>

<header th:replace="partials/partials.html :: navbar"></header>

<h1 class="d-flex justify-content-center">Fitness App</h1>


<nav class="container">
    <div class="card-deck d-flex justify-content-center mt-5">
        <div class="card mx-1">
            <a href="/strength"><img class="card-img-top" src="images/dest.jpg" alt="Card image cap"></a>
        </div>
        <div class="card mx-1">
            <a href="/endurance"><img class="card-img-top" src="images/dumbbelsmall.jpg" alt="Card image cap"></a>
        </div>
        <div class="card mx-1">
            <a href="/weigh-loss"><img class="card-img-top" src="images/lose1.jpg" alt="Card image cap"></a>
        </div>
        <div class="card mx-1">
            <a href="/cardio"><img class="card-img-top" src="images/running1.jpg" alt="Card image cap"></a>
        </div>
    </div>
</nav>


<section class="container mt-5">
    <h3 class="text-center mt-5">Most Recent</h3>
    <table class="table mt-5">
        <tr>
            <th class="col">Workout</th>
            <th class="col">Type</th>
            <th class="col">Author</th>
        </tr>
        <th:block th:each="work: ${workout}">
            <tr>
                <td><a th:href="@{/exercise/{id}(id=${work.id - 1})}">

                    <th:block th:text="${work.name}"></th:block>
                </a></td>
                <td th:text="${work.typeOfWorkout}"></td>
                <td th:text="${work.user.userName}"></td>
            </tr>
        </th:block>
    </table>
</section>

<nav class="text-center">
    <ul class="pagination">
        <li th:class="${workout.isFirst()}? 'disabled' : ''">
            <span th:if='${workout.isFirst()}'>← First</span>
            <a th:if='${not workout.isFirst()}' th:href="'?workout=0'">
                ← First
            </a>
        </li>
        <li th:class="${workout.hasPrevious()}? '' : 'disabled'">
            <span th:if='${not workout.hasPrevious()}'>«</span>
            <a
                    th:if='${workout.hasPrevious()}'
                    th:href="${workout.getNumber() - 1}"
                    title='Go to previous workout'
            >
                «
            </a>
        </li>
        <-- Show a link to each workout -->
        <li th:each="i : ${#numbers.sequence(1, workout.getTotalPages())}">
                <span
                        th:if='${(i - 1) == param.workout}'
                        th:text='${i}'>
                    1
                </span>
            <a
                    th:if='${not ((i - 1) == param.workout)}'
                    th:href="${(i -1)}"
            >
                <span th:text='${i}'>1</span>
            </a>
        </li>
        <li th:class="${workout.hasNext()} ? '' : 'disabled'">
            <span th:if='${not workout.hasNext()}'>»</span>
            <a
                    th:if='${workout.hasNext()}'
                    th:href="${workout.getNumber() + 1}"
                    title='Go to next workout'
            >
                »
            </a>
        </li>
        <li th:class="${workout.isLast()}? 'disabled' : ''">
            <span th:if='${workout.isLast()}'>Last →</span>
            <a
                    th:if='${not workout.isLast()}'
                    th:href="${workout.getTotalPages() - 1}"
            >
                Last →
            </a>
        </li>
    </ul>
</nav>


<script th:replace="partials/partials.html :: bootstrap-js"></script>
</body>
</html>